.container {
    display: flex;
    justify-content: space-between;
}

.image {
    flex-basis: 20%;
    float: left;
}

.name {
    float: center;
    text-align: center;
    vertical-align: bottom;
    align-self: flex-end;
}

.contacts {
    float: right; 
    text-align: right;
}

hr:not(.main_hr) {
    width: 95%;
}

.content {
    display: flex;
    flex-direction: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}