body {
    background: rgb(236, 236, 236);
    padding: 5px;
}

.container {
    display: inline;
}

.image {
    width: 15%;
    float: left;
}

.name {
    width: 25%;
    line-height: 50%;
    padding-top: 80px;
}
.name p {
    font-size: 24px;
}

.contacts {
    text-align: right;
}

.content {
    display: inline-block;
    padding-right: 40px;
    font-size: 20px;
}

.content> h2:first-of-type {
    height: 180px;
}

.content section:nth-of-type(2) h2 {
    height: 700px;
}

.cv2 .content section:nth-of-type(2) h2 {
    height: 350px;
}

.cv1 .content section:nth-of-type(3) h2 {
    height: 70px;
}

.cv2 .content section:nth-of-type(3) h2 {
    height: 800px;
}

.cv1 .content section:nth-of-type(4) h2 {
    height: 350px;
}

.cv2 .content section:nth-of-type(4) h2 {
    height: 200px;
}

.content span {
    text-align: left;
}


hr:not(.main_hr) {
    width: 95%;
    color: orange;
}

.content {
    display: inline-block;
}

.content .text {
    padding-top: 10px;
}

.content h2 {
    padding-left: 40px;
    width: 15%;
    float: left;
    color: orange;
}

.content section {
    width: 100%;
}

.skills {
    width: 80%;
}

.cv2 .theme ul {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
}
